<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <!-- (click)="modalRef?.hide()" -->
    <button type="button" class="btn-close close pull-right" aria-label="Close" >
        <span arial-hidden="true" class="visually-hidden">&times;</span>
    </button> 
</div>

<div class="modal-body">

    <form [formGroup]="myForm">
        <div class="row">

            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="codigoProveedor">Código</label>
                    <input formControlName="codigoProveedor" type="text" class="form-control" placeholder="Ingrese el Código">
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="nombre">nombre</label>
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Ingrese el nombre">
                </div>

                <div *ngIf="myForm.get('nombre')?.errors && myForm.touched">
                    <small class="text-danger" *ngIf="myForm.get('nombre')?.hasError('required')">Campo requerido</small>
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="ruc">ruc</label>
                    <input formControlName="ruc" type="text" class="form-control" placeholder="Ingrese el nombre del almacén">
                </div>

                <div *ngIf="myForm.get('ruc')?.errors && myForm.touched">
                    <small class="text-danger" *ngIf="myForm.get('ruc')?.hasError('required')">Campo requerido</small>
                </div>
            </div>


            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="razonSocial">razonSocial</label>
                    <input formControlName="razonSocial" type="text" class="form-control" placeholder="Ingrese la capacidad límite del almacén">
                </div>

                <div *ngIf="myForm.get('razonSocial')?.errors && myForm.touched">
                    <small class="text-danger" *ngIf="myForm.get('razonSocial')?.hasError('required')">Campo requerido</small>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="telefono">telefono</label>
                    <input formControlName="telefono" type="text" class="form-control" placeholder="Ingrese la capacidad límite del almacén">
                </div>

                <div *ngIf="myForm.get('telefono')?.errors && myForm.touched">
                    <small class="text-danger" *ngIf="myForm.get('telefono')?.hasError('required')">Campo requerido</small>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="correo">correo</label>
                    <input formControlName="correo" type="text" class="form-control" placeholder="Ingrese la capacidad límite del almacén">
                </div>

                <div *ngIf="myForm.get('correo')?.errors && myForm.touched">
                    <small class="text-danger" *ngIf="myForm.get('correo')?.hasError('required')">Campo requerido</small>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="fechaRegistro">fecha de Registro</label>
                    <input formControlName="fechaRegistro" type="datetime" class="form-control" placeholder="Ingrese la capacidad límite del almacén">
                </div>

                <div *ngIf="myForm.get('fechaRegistro')?.errors && myForm.touched">
                    <small class="text-danger" *ngIf="myForm.get('fechaRegistro')?.hasError('required')">Campo requerido</small>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="fechaActualizacion">fecha de Actualizacion</label>
                    <input formControlName="fechaActualizacion" type="datetime" class="form-control" placeholder="Ingrese la capacidad límite del almacén">
                </div>

                <div *ngIf="myForm.get('fechaActualizacion')?.errors && myForm.touched">
                    <small class="text-danger" *ngIf="myForm.get('fechaActualizacion')?.hasError('required')">Campo requerido</small>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select formControlName="estado" class="form-select">
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                </div>
            </div>

            <div class="col-6 mt-3">
                <div class="d-grid gap-2">
                    <button [disabled]="myForm.invalid" (click)="guardar()" class="btn-block btn btn-primary btn-sm">Guardar</button>
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="d-grid gap-2">
                    <!-- (click)="modalRef?.hide()" -->
                    <button class="btn-block btn btn-danger btn-sm" (click)="cerrarModal(false)">Cancelar</button>
                </div>
            </div>      

        </div>
    </form>
</div>