<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button> 
</div>

<div class="modal-body">
    <form [formGroup]="myForm" class="row g-3">

        <div class="col-md-12 mt-3">
            <label for="codigoAlmacenes" class="form-label">Código</label>
            <input formControlName="codigoAlmacenes" type="text" class="form-control" id="codigoAlmacenes" placeholder="Ingrese el Código">
        </div>

        <div class="col-md-12 mt-3">
            <label for="nombre" class="form-label">Nombre del almacén</label>
            <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre del almacén">
            <div *ngIf="myForm.get('nombre')?.errors && myForm.touched">
                <small class="text-danger">Campo requerido</small>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <label for="capacidadLimite" class="form-label">Capacidad Límite</label>
            <input formControlName="capacidadLimite" type="number" class="form-control" id="capacidadLimite" placeholder="Ingrese la capacidad límite del almacén">
            <div *ngIf="myForm.get('capacidadLimite')?.errors && myForm.touched">
                <small class="text-danger">Campo requerido</small>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <label for="estado" class="form-label">Estado</label>
            <select formControlName="estado" class="form-select" id="estado">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>

        <div class="col-md-6 mt-3">
            <button [disabled]="myForm.invalid" (click)="guardar()" class="btn btn-primary btn-block" type="button">Guardar</button>
        </div>

        <div class="col-md-6 mt-3">
            <button class="btn btn-danger btn-block" type="button">Cancelar</button>
        </div>

    </form>
</div>
