<div class="container-fluid mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h1 class="mt-4"> PEDIDOS</h1>
        </div>
        <div class="card-body">
            <!-- TODO: tabla de resultados   -->
            <div class="table table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">codigoPedido</th>
                            <th class="text-center">montoTotal</th>
                            <th class="text-center">montoPagado</th>
                            <th class="text-center">vuelto</th>
                            <th class="text-center">registroPedido</th>
                            <th class="text-center">entregaPedido</th>
                            <th class="text-center">nombreUsuario</th>
                            <th class="text-center">nombreProducto</th>
                            <th class="text-center">cantidad</th>
                            <th class="text-center">precioTotal</th>
                            <th class="text-center">precioUnitario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of vPedido ">
                            <td class="text-center">{{d.codigoPedido}}</td>
                            <td class="text-center">{{d.montoTotalPedido}}</td>
                            <td class="text-center">{{d.montoPagado}}</td>
                            <td class="text-center">{{d.vuelto}}</td>
                            <td class="text-center">{{d.registroPedido}}</td>
                            <td class="text-center">{{d.entregaPedido}}</td>
                            <td class="text-center">{{d.nombreUsuario}}</td>
                            <td class="text-center">{{d.nombreProducto}}</td>
                            <td class="text-center">{{d.cantidad}}</td>
                            <td class="text-center">{{d.precioTotal}}</td>
                            <td class="text-center">{{d.precioUnitario}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>