<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <!-- (click)="modalRef?.hide()" -->
    <button type="button" class="btn-close close pull-right" aria-label="Close" >
        <span arial-hidden="true" class="visually-hidden">&times;</span>
    </button> 
</div>
<div class="modal-body">
    

    <form [formGroup]="myForm">
        
        <div class="row mt-2">
            <div class="col-4">
                <div class="form-group">
                    <label for="codigoProducto">Codigo</label>
                    <input formControlName="codigoProducto" type="text" class="form-control" placeholder="ingrese el Codigo">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="">Unidad Medida</label>
                    <select formControlName="codigoUnidadMedida" class="form-select">
                        <option *ngFor="let d of tipoUnidadMedida" [ngValue]="d.codigoUnidadMedida">
                            {{d.nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="">Categoria</label>
                    <select formControlName="codigoCategoria"  class="form-select">
                        <option *ngFor="let d of tipoCategoria" [ngValue]="d.codigoCategoria">
                            {{d.nombre}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <div class="form-group">
                    <label for="">Sub Categoria</label>
                    <select formControlName="codigoSubCategoria" class="form-select">
                        <option *ngFor="let d of tipoSubCategoria" [ngValue]="d.codigoSubCategoria">
                            {{d.nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="">Proveedor</label>
                    <select formControlName="codigoProveedor" class="form-select">
                        <option *ngFor="let d of tipoProveedor" [ngValue]="d.codigoProveedor">
                            {{d.razonSocial}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="">Almacen</label>
                    <select formControlName="codigoAlmacenes" class="form-select" >
                        <option *ngFor="let d of tipoAlmacen" [ngValue]="d.codigoAlmacenes">
                            {{d.nombre}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="nombre">nombre</label>
                    <input formControlName="nombre" type="text" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="stock">stock</label>
                    <input formControlName="stock" type="text" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="precio">precio</label>
                    <input formControlName="precio"  type="number" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="imagen">imagen</label>
                    <input formControlName="imagen" type="text" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="descripcion">descripcion</label>
                    <input formControlName="descripcion" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-3">
                <div class="d-grid gap-2">
                    <button [disabled]="myForm.invalid" (click)="guardar()" class="btn-block btn btn-primary btn-sm">Guardar</button>
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="d-grid gap-2">
                    <!-- (click)="modalRef?.hide()" -->
                    <button class="btn-block btn btn-danger btn-sm" (click)="cerrarModal(false)">Cancelar</button>
                </div>
            </div>    
        </div>    
    </form>
</div>