<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <!-- (click)="modalRef?.hide()" -->
    <button type="button" class="btn-close close pull-right" aria-label="Close" >
        <span arial-hidden="true" class="visually-hidden">&times;</span>
    </button> 
</div>
<div class="modal-body">
    

    <form [formGroup]="myForm">
        
        <div class="row mt-2">
            <div class="col-4">
                <div class="form-group">
                    <label for="codigoUsuario">codigoUsuario </label>
                    <input formControlName="codigoUsuario" type="text" class="form-control" placeholder="ingrese el Codigo">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="codigoPersona">Nombre</label>
                    <select formControlName="codigoPersona" class="form-select">
                        <option *ngFor="let d of tipoPersona" [ngValue]="d.codigoPersona">
                            {{d.nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="codigoRol">Rol</label>
                    <select formControlName="codigoRol" class="form-select">
                        <option *ngFor="let d of tipoRol" [ngValue]="d.codigoRol">
                            {{d.nombre}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input formControlName="username" type="text" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="password">contraseña</label>
                    <input formControlName="password" type="text" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select formControlName="estado" class="form-select">
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="fechaRegistro">fecha de Registro</label>
                    <input formControlName="fechaRegistro" type="datetime" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="fechaActualizar">fecha de Actualizar</label>
                    <input formControlName="fechaActualizar" type="datetime" class="form-control">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6 mt-3">
                <div class="d-grid gap-2">
                    <button [disabled]="myForm.invalid" (click)="guardar()" class="btn-block btn btn-primary btn-sm">Guardar</button>
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="d-grid gap-2">
                    <!-- (click)="modalRef?.hide()" -->
                    <button class="btn-block btn btn-danger btn-sm">Cancelar</button>
                </div>
            </div>
        </div>    
    </form>
</div>