<div class="nav">
    <div class="sb-sidenav-menu-heading">Core</div>
    <a class="nav-link" href="index.html">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Pagina Principal
    </a>
    <div class="sb-sidenav-menu-heading">Interface</div>

    <div *ngFor="let d of menu; let i = index">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" [attr.data-bs-target]="'#target' + i" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="{{d.icon}}"></i></div>
            {{d.name}}
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div *ngFor="let x of d.subMenu" class="collapse" [id]="'target' + i" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" [routerLink]="[x.url]"><i class="{{x.icon}}"></i> &nbsp; {{x.name}}
                </a>
            </nav>
        </div>
    </div>
</div>

