<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#">
            <img id="Logo" src="https://img.freepik.com/vector-premium/logotipo-supermercado_23-2148459011.jpg" alt="Logo de la empresa" width="50" height="50">
            BodegaYanin
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/informacion']">
                      <i class="fa-solid fa-book"></i> sobre nosotros
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/comunidad']">
                      <i class="fa-solid fa-users"></i> comunidad
                    </a>
                  </li>
                  <li class="nav-item">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/auth']">
                      <i class="fas fa-user"></i>
                    </a>
                  </li>
            </ul>
        </div>
    </div>
  </nav>
</header>

<body>
  <div class="container">
    <div class="row mt-3">
      <div class="col-xs-8 col-8">
        <!-- Componente de paginación -->
        <pagination
          (pageChanged)="changePage($event)"
          [totalItems]="totalItems"
          [itemsPerPage]="itemsPerPage"
          [previousText]="'Anterior'"
          [nextText]="'Siguiente'"
        >
        </pagination>
      </div>
      <div class="col-xs-4 col-4">
        <!-- Selección de cantidad de ítems por página -->
        <select
          (change)="changeItemsPerPage()"
          [(ngModel)]="itemsPerPage"
          class="form-select"
        >
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
    <div class="container" style="min-height: 400px;"> <!-- Altura mínima fija de 400px -->
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6" *ngFor="let producto of vProducto">
              <div class="card mb-4 shadow-sm" style="height: 100%;" > <!-- Altura 100% para ocupar el espacio disponible -->
                <div class="row g-0">
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title" style="color: red;"> <strong>{{ producto.nombre }}</strong> </h5>
                      <td>
                        <tr>Unidad Medida: {{ producto.nomnombreMedida }}</tr>
                        <tr>Categoría: {{ producto.nombreCategoria }}</tr>
                        <tr>Almacén: {{ producto.nombreAlmacen }}</tr>
                        <tr>Stock: {{ producto.stock }}</tr>
                        <tr>Precio: {{ producto.precio }}</tr>
                        <tr>descripcion: {{ producto.descripcion }}</tr>
                      </td>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img class="img-fluid" [src]="producto.imagen" alt="{{ producto.nombre }}" style="height: 100%;"> <!-- Altura 100% para ocupar el espacio disponible -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
