<div class="container-fluid px-4 mt-5">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <h1 class="mt-4"> MANTENIMIENTO DE LA CAJA</h1>
        </div>
        <div class="card-body">

            <form [formGroup]="myFormFilter">
                <div class="card bg-light mb-3">
                    <div class="card-header">BUSQUEDA POR FILTRO</div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">Código</label>
                                <input formControlName="codigoCaja" type="text" class="form-control">   
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">fecha</label>
                                <input formControlName="fecha" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">usuario de Apertura</label>
                                <input formControlName="usuarioApertura" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">usuario de Cierre</label>
                                <input formControlName="usuarioCierre" type="text" class="form-control">   
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">monto de Apertura</label>
                                <input formControlName="montoApertura" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">monto de Cierre</label>
                                <input formControlName="montoCierre" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">monto Adicional</label>
                                <input formControlName="montoAdicional" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">Estado</label>
                                <select name="" formControlname="estado" class="form-select">
                                    <option value="">TODO</option>
                                    <option value="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <br>
                                <button (click)="filtrar()" class="btn btn-primary btn-sm">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button class="btn btn-primary btn-sm">
                                    <i class="fas fa-broom"></i>
                                </button>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </form>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>fecha</th>
                        <th>usuario de Apertura</th>
                        <th>usuario de Cierre</th>
                        <th>estado</th>
                        <th>monto de Apertura</th>
                        <th>monto de Cierre</th>
                        <th>monto de Adicional</th>
                        <th>
                            <button (click)="crearCaja(ModalEdit)" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let caja of cajas">
                        <td>{{caja.codigoCaja}}</td>
                        <td>{{caja.fecha}}</td>
                        <td>{{caja.usuarioApertura}}</td>
                        <td>{{caja.usuarioCierre}}</td>
                        <td>{{caja.estado ?  'Activo' : 'Inactivo'}}</td>
                        <td>{{caja.montoApertura}}</td>
                        <td>{{caja.montoCierre}}</td>
                        <td>{{caja.montoAdicional}}</td>
                        <td>
                            <button (click)="editarCaja(ModalEdit, caja)" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button (click)="eliminarRegistro(caja.codigoCaja)" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            
            <div class="row">
                <div class="col-xs-8 col-8">
                    <pagination (pageChanged)="changePage($event)" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [previousText]="'Anterior'" [nextText]="'Siguiente'"> </pagination>
                </div>
                <div class="col-xs-4 col-4">
                    <select (change)="changeItemsPerPage()"  [(ngModel)]="itemsPerPage" class="form-select">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>     
                </div>
            </div>

        </div>
    </div>
</div>


<ng-template #ModalEdit>
    <app-mant-caja-register
        [title]="titleModal"
        [caja]="cajaSelect"
        [accion]="accionModal"
        (closeModalEmmit)="getCloseModalEmmit($event)"
    ></app-mant-caja-register>

</ng-template>
