<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <!-- (click)="modalRef?.hide()" -->
    <button type="button" class="btn-close close pull-right" aria-label="Close" >
        <span arial-hidden="true" class="visually-hidden">&times;</span>
    </button> 
</div>

<div class="modal-body">

    <form [formGroup]="myForm">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="codigoCaja">Código</label>
                    <input formControlName="codigoCaja" type="text" class="form-control">
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="fecha">fecha</label>
                    <input formControlName="fecha" type="datetime-local" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="">nombre</label>
                    <select formControlName="codigoUsuario" class="form-select">
                        <option *ngFor="let d of tipoUsuario" [ngValue]="d.codigoUsuario">
                            {{d.userName}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select formControlName="estado" class="form-select">
                        <option value="true">Activo</option>
                        <option value="false">Inactivo</option>
                    </select>
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="montoApertura">monto de Apertura</label>
                    <input formControlName="montoApertura" type="number" class="form-control">
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="montoCierre">monto de Cierre</label>
                    <input formControlName="montoCierre" type="number" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="montoAdicional">monto Adicional</label>
                    <input formControlName="montoAdicional" type="number" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-3">
                <div class="d-grid gap-2">
                    <button [disabled]="myForm.invalid" (click)="guardar()" class="btn-block btn btn-primary btn-sm">Guardar</button>
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="d-grid gap-2">
                    <!-- (click)="modalRef?.hide()" -->
                    <button class="btn-block btn btn-danger btn-sm">Cancelar</button>
                </div>
            </div>  
        </div>
    </form>
</div>