<div class="container-fluid px-4 mt-5">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            <h1 class="mt-4"> MANTENIMIENTO DE USUARIOS</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>CodigoRol</th>
                        <th>CodigoPersona</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>Estado</th>
                        <th>Fecha De Registro</th>
                        <th>Fecha De Actualizacion</th>
                        <th>
                            <button (click)="crearUsuario(ModalEdit)" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{usuario.CodigoUsuario}}</td>
                        <td>{{usuario.CodigoRol}}</td>
                        <td>{{usuario.CodigoPersona}}</td>
                        <td>{{usuario.UserName}}</td>
                        <td>{{usuario.Password}}</td>
                        <td>{{usuario.FechaRegistro}}</td>
                        <td>{{usuario.UserName}}</td>
                        <td>{{usuario.FechaActualizar}}</td>
                        <td>
                            <button (click)="editarUsuario(ModalEdit,usuario)" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button (click)="eliminarRegistro(usuario.CodigoUsuario)" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<ng-template #ModalEdit>
    <app-mant-usuario-register
        [title]="titleModal"
        [usuario]="usuarioSelected"
        [accion]="accionModal"
        (closeModalEmmit)="getCloseModalEmmit($event)"
    ></app-mant-usuario-register>
</ng-template>

