<div class="container">
  <div class="left-section">
    <h1 class="text-center">Venta de productos</h1>
    <div class="products-container">
      <form [formGroup]="myFormFilter">
        <div class="search-bar">
          <input formControlName="nombre" type="text" class="form-control" id="nombreProducto" placeholder="Buscar por nombre">
          <button (click)="limpiar()" class="btn btn-secondary me-2">
            <i class="fas fa-times"></i>
          </button>
        </div>
        
      </form>

      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Código</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Unidad Medida</th>
            <th class="text-center">Categoría</th>
            <th class="text-center">Almacén</th>
            <th class="text-center">Stock</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of vProducto">
            <td class="text-center">{{ d.codigoProducto }}</td>
            <td class="text-center">{{ d.nombre }}</td>
            <td class="text-center">{{ d.nomnombreMedida }}</td>
            <td class="text-center">{{ d.nombreCategoria }}</td>
            <td class="text-center">{{ d.nombreAlmacen }}</td>
            <td class="text-center">{{ d.stock }}</td>
            <td class="text-center">{{ d.precio }}</td>
            <td class="text-center">
              <!-- Se agrega la función seleccionarProducto -->
              <button class="btn btn-success btn-sm" (click)="seleccionarProducto(d)">
                <i class="bi bi-plus-circle"></i> Seleccionar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- TODO: seccion de paginacion  -->
      <div class="row">
        <div class="col-xs-8 col-8">
          <pagination
            (pageChanged)="changePage($event)"
            [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage"
            [previousText]="'Anterior'"
            [nextText]="'Siguiente'"
          >
          </pagination>
        </div>
        <div class="col-xs-4 col-4">
          <select
            (change)="changeItemsPerPage()"
            [(ngModel)]="itemsPerPage"
            class="form-select"
          >
            <option value="3">3</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="right-section">
    <div *ngIf="productoSelect" class="selected-products">
      <div class="product-image">
        <img [src]="productoSelect.imagen" alt="{{ productoSelect.nombre }}" style="width: 100%; max-height: 200px; object-fit: cover;">
      </div>
      <div class="quantity-input">
        <label for="quantity">Agregar cantidad:</label>
        <input id="quantity" type="number" min="1" [(ngModel)]="cantidad" />
      </div>
      <button class="btn btn-warning btn-lg" (click)="agregarProducto()">
        <i class="bi bi-cart-plus"></i> Agregar producto seleccionado
      </button>
    </div>
  </div>
</div>
